<form action="/thread/add" method="POST">
Title
<input name="title" type="text"/>
Description:
<input name="description" type="text"/>
<input type="submit" value="Submit"/>
<select name="category">
    {{#each categories}}
     <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select >
</form>