<form action="/thread/edit/{{_id}}" method="POST">
Title
<input name="title" type="text" value="{{title}}"/>
Description:
<input name="description" type="text" value="{{description}}"/>
<input type="submit" value="Submit"/>
</form>